* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 2rem;
    color: rgb(38, 184, 38);
    background-color: rgba(8, 8, 8, 0.8);
}

.line {
    position: relative;
    top: 35%;
    width: 28rem;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 200%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(50%); */
}

/* ANIMATION */

.type {
    animation: typewriter 4s steps(256) 1s 1 normal both,
        cursor 0.5s infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 26ch;
    }
}

@keyframes cursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.45);
    }

    to {
        border-right-color: transparent;
    }
}