.theme-selector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 12000px;
    margin: 40px 350px;
}

.theme-buttons div {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 50%;
}

.mode-toggle {
    margin-right: auto;
}

.mode-toggle img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}