@import 'reset';
@import 'variables';

// Variables
// a container that holds a value

// let x = 23;
// let y = 10;





// h1 {
//     $hosas: blue;
//     color: $Lina;
// }


// CSS Variables
// :root {
//     --main-bg-color: rgb(255, 105, 180);
// }


// body {
//     background-color: var(--main-bg-color);
// }


%meal-box {
    color: #333333;
    border: 1px solid crimson;
    margin: 0 0 10px 0;
    padding: 15px;
}

.breakfast {
    @extend %meal-box;
}

.lunch {
    @extend %meal-box;
    background-color: yellow;
}

.dinner {
    @extend %meal-box;
    background-color: orange;
}


// Mixins

@mixin cover-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin colorize-paragraph($color) {
    border: dotted 3px $color;
    background: rgba($color, 0.3);
}

.p-1 {
    @include colorize-paragraph(red);
}

.p-2 {
    @include colorize-paragraph(rgb(18, 196, 33));
}

.p-3 {
    @include colorize-paragraph(blue);
}

// Maps
$colors: ("primary": hotpink,
    "secondary": chartreuse,
    "tertiary": aqua,
    "neutral": #efefef,
);

$font-weights: ("light": 100,
    "regular": 400,
    "bold": 900,
);

h1 {
    color: map-get($colors, tertiary);
    font-weight: map-get($font-weights, light);
}


$padding-map: ("x-small": 3px,
    "small": 5px,
    "medium": 10px,
    "large": 15px,
    "x-large": 20px,
);

.p-3 {
    padding: map-get($padding-map, x-large);
}