/* CSS Comments */
h3{
    color: red;
}
h2{
    color: gold;
}
pre {
    color: turquoise;
}
/*Anatomy of CSS*/


/* Lists */

/* CHANGING THE LIST STYLE */


/* NESTING AND LISTS */

/* DESCENDANT COMBINATOR */