* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 50%;
    margin: 0px auto;
}

li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.article-section article {
    width: 45%;
}

.aside-section div,
aside {
    width: 45%;
    display: inline-block;
}

aside {
    border-left: 2px solid hotpink;
    border-bottom: 2px solid hotpink;
    background-color: rgba(202, 199, 199, 0.9);
    padding: 15px;
}

code {
    background-color: rgba(246, 199, 48, 0.861);
    color: white;
    padding: 5px;
}

h1,
h2,
h3 {
    margin: 10px 20px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    overflow: hidden;
    width: 100%;
    background-color: rgb(215, 212, 212);
    text-align: center;
}

.overflowTest {
    overflow: ellipsis;
    height: 40px;
    margin-bottom: 100px;
}