body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* general styling  */
h1,
h2 {
    background-color: rgb(246, 120, 106);
    color: rgb(245, 240, 234);
    padding: 8px;
}

.shadow {
    width: 300px;
    height: 275px;
    margin: 0 auto;
    border: 1px solid rgb(48, 48, 48);
}


/* Basic Introduction */



/* ******************************** */
/* Well Component */



/* Multiple Shadows */



/* USE CASES */

/* BUTTON */


/* *********************************** */

/* Well component */