/* BASE STYLES */
:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* ******************************* */

.card-container {}

.card--image img {}

.card {
    border: 1px solid #cad0d2;
    box-shadow: 10px 10px 27px 2px rgba(156, 156, 156, 0.67);
}

.card--header {
    background-color: rgb(117, 74, 191);
}

.card--header h2 {

    color: antiquewhite;
}

.card--header img {}

.card--text {

    background-color: rgb(227, 229, 233);
}

.card--footer {

    background-color: rgb(122, 219, 226);

}