body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form {
    margin: 5% auto;
    width: 35%;
    /* form outline */
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

ul {
    list-style: none;
}

form li {
    margin-top: 1rem;
}

label {
    width: 7rem;
    display: inline-block;
}

input,
textarea {
    font: 1rem sans-serif;
    border: 1px solid #ccc;
    resize: none;
}

input:focus,
textarea:focus {
    /* background: yellow; */
    outline: 1px solid rgba(180, 120, 60, 0.8);
}

input::placeholder {
    font-style: italic;
}

input[type="email"]:disabled {
    background: #ccc;
}

textarea {
    vertical-align: top;
    height: 4rem;
}

button {
    margin: 0 auto;
}

#city-select {
    background-color: #fff;
}