* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    /* background: url("/images/cafe.jpg") center / cover no-repeat;

    height: 100vh;
    width: 100vw; */

    background: rgb(35, 32, 87);
    background: radial-gradient(circle,
            rgba(35, 32, 87, 1) 0%,
            rgba(34, 84, 214, 1) 49%,
            rgba(214, 70, 118, 1) 64%,
            rgba(50, 155, 216, 1) 85%,
            rgba(215, 158, 91, 1) 93%,
            rgba(218, 35, 215, 1) 100%,
            rgba(104, 102, 115, 0.5900735294117647) 100%);
}

.img-container {
    height: 25rem;
    width: 35rem;
    margin: 10% auto;
    background-image: url(/images/coding.jpg);
    background-size: cover;
}

h1 {
    color: blue;
    letter-spacing: 12px;
    font-size: 4rem;
    font-weight: 200;
    text-align: center;
}