:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin: 2rem 0;
}

/* ************************************ */
/* Parent && grid-template-areas */

/* #container {
  display: grid;
  grid-template-columns: 200px 250px;
  grid-template-rows: minmax(150px, auto);

  height: 100vh;
  justify-content: center;
  align-content: center;

  grid-column-gap: ;
  grid-row-gap: ;

  row gap  || column gap

  gap: 50px 30px;

  grid-template-areas:
    "derya derya"
    "header contentthree"
    "header contentfour"
    "header contentfive"
    "header contentsix"
    "header contentseven"
    "footer footer";
}

grid-areas
.one {

  font-size: 5rem;
  grid-area: header;

  justify-self: center;
  align-self: center;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.two {
  grid-area: derya;
  z-index: 3;
}

.three {
  grid-area: contentthree;
  grid-area: sidebar;
}

.four {
  grid-area: contentfour;
}

.five {
  grid-area: contentfive;
}

.six {
  grid-area: contentsix;
}

.seven {
  grid-area: contentseven;
}

.eight {
  grid-area: footer;
} */

/* ************************************ */

#container {
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-auto-rows: 10rem; */
  /* gap: 0.5rem; */
}

#container div {
  color: antiquewhite;
  padding: 0.5rem;
  border: 1px solid dimgray;
  background-color: rgb(32, 75, 218);
}

/* POSITIONING INDIVIDUAL GRID ITEMS */