$headingBg: rgb(246, 120, 106);
$headingClr: rgb(245, 240, 234);


$micha: inset 0 3px 3px rgb(255, 255, 255),
0 2px 2px rgba(0, 0, 0, 0.12),
0 4px 4px rgba(0, 0, 0, 0.12),
0 8px 8px rgba(0, 0, 0, 0.12);