/* Breakpoints */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra-large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* wide devices (widescreen desktops, 1440px and up) */
@media (min-width: 1440px) {}


/* ****************************** */
/* Changing background-color on body */
body {
    background-color: red;
}

@media (min-width: 600px) {
    body {
        background-color: blue;
    }
}


/* *************************************** */
/* Arranging div elements */
div {
    background-color: yellow;
    padding: 50px;
    border: 2px solid black;
}

@media (max-width: 600px) {

    div {
        display: inline-block;
        padding: 200px;
    }
}

/* **************************** */
/* Scaling Text */

:root {
    font-size: 62.5%;
}

@media (min-width: 567px) {
    body {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 1.4rem;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 1.8rem;
    }
}